# Problem Set-2

# Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a = 0

def b():
 global a
 a = c(a)
    
def c(a):
 return a + 2
b()   # Global is a keyword which is used to make the variale scope globally i.e it  belongs to all the class & functions
b()      # whenever b() will be called it sends 'a' value to value to function c() & 2 will be added and returned to b() which will be stored in global variable 'a'.
b()      # 'a' is global variable, its value will be incremented by 2 every time for every call
a      # first b() call-2, second b() call-4, third b() call-6 and finally it will return a=6

6

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [2]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read() #to read file
        file.close()
        print(len(contents)) #to print length of content of file
    except:
        print("File {} not found.".format(file_name))
        
fileLength('midterm.py')
fileLength('idterm.py')

358
File idterm.py not found.

# Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [31]:
class Marsupial:
    def __init__(self):
        self.data = []

    def put_in_pouch(self, app):
        self.data.append(app) #append argument to list
        
    
    def pouch_contents(self):
        print(self.data)

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [4]:
class Kangaroo(Marsupial): #creating class kangaro
    
    def __init__(self,x,y):
        super().__init__()
        self.coordinates = (x,y)
        print(f'I am a Kangaroo located at coordinates {self.coordinates}')
     
    def jump(self,x,y):
        last_coordinates = self.coordinates
        self.coordinates = (last_coordinates[0] + x,last_coordinates[1] + y)
        print(self.coordinates)
    
    def __str__(self):
        return str(self.coordinates)

k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
(0, 0)

In [5]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [6]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(f'I am kangaroo located at{k}')

(1, 0)
(2, 0)
(3, 0)
I am kangaroo located at(3, 0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [17]:
def collatz(x):
    if x == 1:
        print(1)
    else:
        while x != 1:
            if x % 2 == 0: #checking odd or even
                x /= 2
                print(int(x))
            else:
                x = (3*x)+1
                print(int(x))

collatz(1)

1

In [18]:
collatz(10)

5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [19]:
def binary(x):
    if x == 0:
        return 0
    else:
        return (x % 2 + 10 * binary(int(x // 2))) #returning binary value
    
print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [20]:
from html.parser import HTMLParser
 
class HeadingParser(HTMLParser):
    checkHeader = False
    indentNo = 0
    
    def handle_starttag(self, t, attrs):
        #checking h1 to h6 headings
        if t == "h1":
            self.checkHeader = True
            self.indentNo = 0
        elif t == "h2":
            self.checkHeader = True
            self.indentNo = 1
        elif t == "h3":
            self.checkHeader = True
            self.indentNo = 2
        elif t == "h4":
            self.checkHeader = True
            self.indentNo = 3
        elif t == "h5":
            self.checkHeader = True
            self.indentNo = 4
        elif t == "h6":
            self.checkHeader = True
            self.indentNo = 5
        else:
            self.checkHeader = False
            self.indentNo = 0
 
    def handle_data(self, data):
        if self.checkHeader:
            space = " "*self.indentNo
            print("%s%s" % (space, data))
 
    def handle_endtag(self, t):
        if t in ["h1", "h2", "h3", "h4", "h5", "h6"]:
            self.checkHeader = False
 
 
infile = open("w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [30]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class club(HTMLParser):
    

    def __init__(self, url):
      
        HTMLParser.__init__(self)
        self.url = url
        self.url_links = []


    def append(self):
        
        return self.url_links




    def handle_starttag(self, url_tag, attributes):
        for a in attributes:
            ab = urljoin(self.url, a[1])
            if ab[:4] == 'http': 
                self.url_links.append(ab)
i = 0
def webdir(url, depth, i):
   

    depth = depth - 1    
    print(i*'  ', url)         

    objective = urlopen(url).read().decode()
    collection = club(url)
    collection.feed(objective)
    urls = collection.append() 
 
    url_links = urls
    i= i + 4


    for link in url_links:
        if depth < 0 or i < 0:
            return 1
        else:
            webdir(link, depth, i)



webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season

In [20]:
!pip install ipython-sql
import sqlite3
%load_ext sql
%sql sqlite://

Requirement already satisfied: ipython-sql in c:\programdata\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: prettytable<1 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (7.8.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: sqlparse in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: jedi>=0.10 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.15.1)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.4.2)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.1)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (41.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: parso>=0.5.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.1)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)

In [21]:
%%sql
CREATE TABLE tablename(city varchar(50),country varchar(50), season varchar(50), temperature double, rainfall double);  
INSERT INTO tablename VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9);
INSERT INTO tablename VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);
INSERT INTO tablename VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);
INSERT INTO tablename VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);
INSERT INTO tablename VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);
INSERT INTO tablename VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6);
INSERT INTO tablename VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);
INSERT INTO tablename VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);
INSERT INTO tablename VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);
INSERT INTO tablename VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);
INSERT INTO tablename VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);
INSERT INTO tablename VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [22]:
%%sql
SELECT temperature FROM tablename;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [23]:
%%sql
SELECT DISTINCT City FROM tablename;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [24]:
%%sql
SELECT * FROM tablename where Country='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [25]:
%%sql
SELECT * FROM tablename where Season='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [26]:
%%sql
SELECT city,country,season FROM tablename where Rainfall BETWEEN 200 AND 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [27]:
%%sql
SELECT city,country FROM tablename WHERE Temperature>20 AND Season='Fall' Order by Temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [28]:
%%sql
SELECT sum(Rainfall) as Total from tablename where City='Cairo';

 * sqlite://
Done.

[(27.6,)]

In [29]:
%%sql
SELECT Season,sum(Rainfall) FROM tablename Group by Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [21]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

new_words_A = [word.upper() for word in words]
new_words_B = [word.lower() for word in words]
new_words_C = [len(word) for word in words]
new_words_D = [[word.upper(), word.lower(), len(word)] for word in words]
new_words_E = [word for word in words if len(word) >= 4]
print(new_words_A)
print(new_words_B)
print(new_words_C)
print(new_words_D)
print(new_words_E)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']